/* -------------------------------- 
Primary style
-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

/* -------------------------------- 
Scrub Effect
-------------------------------- */
.scrub-transition {
  color: #2c1a32;
}
.scrub-transition h1, .scrub-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
}
.scrub-transition .cd-btn {
  background: #b24160;
  color: #ffffff;
  border-radius: 50em;
}
.scrub-transition .cd-main-content {
  background: #ffbc59;
}
.scrub-transition .cd-modal {
  background: #633b63;
}
.scrub-transition .cd-modal .modal-content {
  color: #ffffff;
}
.scrub-transition .cd-modal .modal-close::before,
.scrub-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.scrub-transition .cd-modal .modal-close {
  background: #543254;
}
.scrub-transition .cd-modal .modal-close:hover {
  background: #452945;
}
.scrub-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/scrub.png);
}
.scrub-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.scrub-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .scrub-transition h1 {
    font-size: 8rem;
  }
  .scrub-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Fire Extinguisher Effect
-------------------------------- */
.extinguisher-transition {
  color: #f1faee;
}
.extinguisher-transition h1, .extinguisher-transition h2 {
  margin-bottom: .4em;
  font-size: 3.2rem;
}
.extinguisher-transition .cd-btn {
  background: #1c3458;
  color: #f1faee;
  border-radius: 50em;
}
.extinguisher-transition .cd-main-content {
  background: #e93741;
}
.extinguisher-transition .cd-modal {
  background: #f1faee;
}
.extinguisher-transition .cd-modal .modal-content {
  color: #437a9f;
}
.extinguisher-transition .cd-modal .modal-close::before,
.extinguisher-transition .cd-modal .modal-close::after {
  background: #f1faee;
}
.extinguisher-transition .cd-modal .modal-close {
  background: #cdd5ca;
}
.extinguisher-transition .cd-modal .modal-close:hover {
  background: #a9afa7;
}
.extinguisher-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/extinguisher.png);
}
.extinguisher-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.extinguisher-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .extinguisher-transition h1 {
    font-size: 6rem;
  }
  .extinguisher-transition h2 {
    font-size: 5.4rem;
    font-weight: 700;
  }
}

/* -------------------------------- 
Glitch Effect
-------------------------------- */
.glitch-transition {
  color: #ffffff;
}
.glitch-transition h1, .glitch-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.glitch-transition .cd-btn {
  background: #676970;
  color: #ffffff;
}
.glitch-transition .cd-main-content {
  background: #2e2f36;
}
.glitch-transition .cd-modal {
  background: #ffffff;
}
.glitch-transition .cd-modal .modal-content {
  color: #676970;
}
.glitch-transition .cd-modal .modal-close::before,
.glitch-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.glitch-transition .cd-modal .modal-close {
  background: #d9d9d9;
}
.glitch-transition .cd-modal .modal-close:hover {
  background: #b3b3b3;
}
.glitch-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/glitch.png);
}
.glitch-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.glitch-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .glitch-transition h1 {
    font-size: 8rem;
  }
  .glitch-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Scribble Effect
-------------------------------- */
.scribble-transition {
  color: #fcf4e1;
}
.scribble-transition h1, .scribble-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.scribble-transition .cd-btn {
  background: #fcb586;
  color: #fcf4e1;
  border-radius: 50em;
}
.scribble-transition .cd-main-content {
  background: #653d55;
}
.scribble-transition .cd-modal {
  background: #e44b60;
}
.scribble-transition .cd-modal .modal-content {
  color: #fcf4e1;
}
.scribble-transition .cd-modal .modal-close::before,
.scribble-transition .cd-modal .modal-close::after {
  background: #fcf4e1;
}
.scribble-transition .cd-modal .modal-close {
  background: #c24052;
}
.scribble-transition .cd-modal .modal-close:hover {
  background: #a03543;
}
.scribble-transition .cd-transition-layer .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-1.3158%);
          transform: translateY(-50%) translateX(-1.3158%);
  /* sprite composed of 38 frames */
  width: 3800%;
  background-image: url(../img/scribble.png);
}
.scribble-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence-2 0.8s steps(37) forwards;
          animation: cd-sequence-2 0.8s steps(37) forwards;
}
.scribble-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-2 0.8s steps(37) forwards reverse;
          animation: cd-sequence-2 0.8s steps(37) forwards reverse;
}
.scribble-transition .cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-98.6842%);
          transform: translateY(-50%) translateX(-98.6842%);
}
@media only screen and (min-width: 768px) {
  .scribble-transition h1 {
    font-size: 7.2rem;
  }
  .scribble-transition h2 {
    font-size: 5.8rem;
  }
}

/* -------------------------------- 
Gummy Effect
-------------------------------- */
.gummy-transition {
  color: #f2f2f2;
}

.gummy-transition .cd-btn {
  color: #f2f2f2;
  border-radius: 50em;
}

.gummy-transition .cd-modal .modal-content {
  color: #f2f2f2;
}
.gummy-transition .cd-modal .modal-close::before,
.gummy-transition .cd-modal .modal-close::after {
  background: #f2f2f2;
}

.gummy-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/gummy.png);
}
.gummy-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.gummy-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 
Gooey Effect
-------------------------------- */
.gooey-transition {
  color: #ffffff;
}
.gooey-transition h1, .gooey-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.gooey-transition .cd-btn {
  background: #cdf199;
  color: #053644;
  border-radius: 50em;
}
.gooey-transition .cd-main-content {
  background: #053644;
}
.gooey-transition .cd-modal {
  background: #466c5e;
}
.gooey-transition .cd-modal .modal-content {
  color: #ffffff;
}
.gooey-transition .cd-modal .modal-close::before,
.gooey-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.gooey-transition .cd-modal .modal-close {
  background: #3c5c50;
}
.gooey-transition .cd-modal .modal-close:hover {
  background: #314c42;
}
.gooey-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/gooey.png);
}
.gooey-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.gooey-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .gooey-transition h1 {
    font-size: 8rem;
  }
  .gooey-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Mirror Effect
-------------------------------- */
.mirror-transition {
  color: #ffffff;
}
.mirror-transition h1, .mirror-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.mirror-transition .cd-btn {
  background: #7e8aa3;
  color: #ffffff;
}
.mirror-transition .cd-main-content {
  background: #000000;
}
.mirror-transition .cd-modal {
  background: #ff9900;
}
.mirror-transition .cd-modal .modal-content {
  color: #ffffff;
}
.mirror-transition .cd-modal .modal-close::before,
.mirror-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.mirror-transition .cd-modal .modal-close {
  background: #d98200;
}
.mirror-transition .cd-modal .modal-close:hover {
  background: #b36b00;
}
.mirror-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/mirror.png);
}
.mirror-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.mirror-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .mirror-transition h1 {
    font-size: 8rem;
  }
  .mirror-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Diamond Effect
-------------------------------- */
.diamond-transition {
  color: #656e8d;
}
.diamond-transition h1, .diamond-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.diamond-transition .cd-btn {
  background: #211426;
  color: #ffffff;
}
.diamond-transition .cd-main-content {
  background: #f2efde;
}
.diamond-transition .cd-modal {
  background: #41355a;
}
.diamond-transition .cd-modal .modal-content {
  color: #ffffff;
}
.diamond-transition .cd-modal .modal-close::before,
.diamond-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.diamond-transition .cd-modal .modal-close {
  background: #372d4d;
}
.diamond-transition .cd-modal .modal-close:hover {
  background: #2e253f;
}
.diamond-transition .cd-transition-layer .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-2.5%);
          transform: translateY(-50%) translateX(-2.5%);
  /* sprite composed of 20 frames */
  width: 2000%;
  background-image: url(../img/diamond.png);
}
.diamond-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence-3 0.8s steps(19) forwards;
          animation: cd-sequence-3 0.8s steps(19) forwards;
}
.diamond-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-3 0.8s steps(19) forwards reverse;
          animation: cd-sequence-3 0.8s steps(19) forwards reverse;
}
.diamond-transition .cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-97.5%);
          transform: translateY(-50%) translateX(-97.5%);
}
@media only screen and (min-width: 768px) {
  .diamond-transition h1, .diamond-transition h2 {
    font-weight: 300;
  }
  .diamond-transition h1 {
    font-size: 8rem;
  }
  .diamond-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Cartoon Effect
-------------------------------- */
.cartoon-transition {
  color: #eeeeee;
}
.cartoon-transition h1, .cartoon-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.cartoon-transition .cd-btn {
  background: #f0ce00;
  color: #0d2228;
  border-radius: 8px;
}
.cartoon-transition .cd-main-content {
  background: #256276;
}
.cartoon-transition .cd-modal {
  background: #f55850;
}
.cartoon-transition .cd-modal .modal-content {
  color: #eeeeee;
}
.cartoon-transition .cd-modal .modal-close::before,
.cartoon-transition .cd-modal .modal-close::after {
  background: #eeeeee;
}
.cartoon-transition .cd-modal .modal-close {
  background: #d04b44;
}
.cartoon-transition .cd-modal .modal-close:hover {
  background: #ac3e38;
}
.cartoon-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/cartoon.png);
}
.cartoon-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.cartoon-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .cartoon-transition h1, .cartoon-transition h2 {
    font-weight: 300;
  }
  .cartoon-transition h1 {
    font-size: 8rem;
  }
  .cartoon-transition h2 {
    font-size: 6rem;
  }
}

/* -------------------------------- 
Clones Effect
-------------------------------- */
.clones-transition {
  color: #ffffff;
}
.clones-transition h1, .clones-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.clones-transition .cd-btn {
  background: #46165f;
  color: #ffffff;
}
.clones-transition .cd-main-content {
  background: #948ec6;
}
.clones-transition .cd-modal {
  background: #ffa700;
}
.clones-transition .cd-modal .modal-content {
  color: #ffffff;
}
.clones-transition .cd-modal .modal-close::before,
.clones-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.clones-transition .cd-modal .modal-close {
  background: #d98e00;
}
.clones-transition .cd-modal .modal-close:hover {
  background: #b37500;
}
.clones-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/clones.png);
}
.clones-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.clones-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .clones-transition h1, .clones-transition h2 {
    font-weight: 300;
  }
  .clones-transition h1 {
    font-size: 7.2rem;
  }
  .clones-transition h2 {
    font-size: 5.6rem;
  }
}

/* -------------------------------- 
Kaleidoscope Effect
-------------------------------- */
.kaleidoscope-transition {
  color: #ffffff;
}
.kaleidoscope-transition h1, .kaleidoscope-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
.kaleidoscope-transition .cd-btn {
  background: #32ae9f;
  color: #ffffff;
}
.kaleidoscope-transition .cd-main-content {
  background: #13172a;
}
.kaleidoscope-transition .cd-modal {
  background: #3b3d89;
}
.kaleidoscope-transition .cd-modal .modal-content {
  color: #ffffff;
}
.kaleidoscope-transition .cd-modal .modal-close::before,
.kaleidoscope-transition .cd-modal .modal-close::after {
  background: #ffffff;
}
.kaleidoscope-transition .cd-modal .modal-close {
  background: #323474;
}
.kaleidoscope-transition .cd-modal .modal-close:hover {
  background: #292b60;
}
.kaleidoscope-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/kaleidoscope.png);
}
.kaleidoscope-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.kaleidoscope-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .kaleidoscope-transition h1 {
    font-size: 7.2rem;
  }
  .kaleidoscope-transition h2 {
    font-size: 5.6rem;
  }
}

/* -------------------------------- 
Animations
-------------------------------- */
@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
            transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
            transform: translateY(-50%) translateX(-98.6842%);
  }
}
@keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
            transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
            transform: translateY(-50%) translateX(-98.6842%);
  }
}
@-webkit-keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
            transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
            transform: translateY(-50%) translateX(-97.5%);
  }
}
@keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
            transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
            transform: translateY(-50%) translateX(-97.5%);
  }
}